@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background-light text-text-primary-light dark:bg-background-dark dark:text-text-primary-dark font-sans transition-colors duration-200;
  }
}